[submodule "cmake"]
    path = cmake
    url = ../cpp-cmake.git
[submodule "src/dmitigr/algo"]
    path = src/dmitigr/algo
    url = ../cpp-lib-algo.git
[submodule "src/dmitigr/base"]
    path = src/dmitigr/base
    url = ../cpp-lib-base.git
[submodule "src/dmitigr/concur"]
    path = src/dmitigr/concur
    url = ../cpp-lib-concur.git
[submodule "src/dmitigr/dt"]
    path = src/dmitigr/dt
    url = ../cpp-lib-dt.git
[submodule "src/dmitigr/fcgi"]
    path = src/dmitigr/fcgi
    url = ../cpp-lib-fcgi.git
[submodule "src/dmitigr/fsx"]
    path = src/dmitigr/fsx
    url = ../cpp-lib-fsx.git
[submodule "src/dmitigr/hsh"]
    path = src/dmitigr/hsh
    url = ../cpp-lib-hsh.git
[submodule "src/dmitigr/http"]
    path = src/dmitigr/http
    url = ../cpp-lib-http.git
[submodule "src/dmitigr/jrpc"]
    path = src/dmitigr/jrpc
    url = ../cpp-lib-jrpc.git
[submodule "src/dmitigr/lisp"]
    path = src/dmitigr/lisp
    url = ../cpp-lib-lisp.git
[submodule "src/dmitigr/log"]
    path = src/dmitigr/log
    url = ../cpp-lib-log.git
[submodule "src/dmitigr/math"]
    path = src/dmitigr/math
    url = ../cpp-lib-math.git
[submodule "src/dmitigr/msg"]
    path = src/dmitigr/msg
    url = ../cpp-lib-msg.git
[submodule "src/dmitigr/mulf"]
    path = src/dmitigr/mulf
    url = ../cpp-lib-mulf.git
[submodule "src/dmitigr/net"]
    path = src/dmitigr/net
    url = ../cpp-lib-net.git
[submodule "src/dmitigr/os"]
    path = src/dmitigr/os
    url = ../cpp-lib-os.git
[submodule "src/dmitigr/pgfe"]
    path = src/dmitigr/pgfe
    url = ../cpp-lib-pgfe.git
[submodule "src/dmitigr/pgfex"]
    path = src/dmitigr/pgfex
    url = ../cpp-lib-pgfex.git
[submodule "src/dmitigr/prg"]
    path = src/dmitigr/prg
    url = ../cpp-lib-prg.git
[submodule "src/dmitigr/que"]
    path = src/dmitigr/que
    url = ../cpp-lib-que.git
[submodule "src/dmitigr/rajson"]
    path = src/dmitigr/rajson
    url = ../cpp-lib-rajson.git
[submodule "src/dmitigr/rnd"]
    path = src/dmitigr/rnd
    url = ../cpp-lib-rnd.git
[submodule "src/dmitigr/sqlixx"]
    path = src/dmitigr/sqlixx
    url = ../cpp-lib-sqlixx.git
[submodule "src/dmitigr/str"]
    path = src/dmitigr/str
    url = ../cpp-lib-str.git
[submodule "src/dmitigr/tpl"]
    path = src/dmitigr/tpl
    url = ../cpp-lib-tpl.git
[submodule "src/dmitigr/url"]
    path = src/dmitigr/url
    url = ../cpp-lib-url.git
[submodule "src/dmitigr/util"]
    path = src/dmitigr/util
    url = ../cpp-lib-util.git
[submodule "src/dmitigr/uv"]
    path = src/dmitigr/uv
    url = ../cpp-lib-uv.git
[submodule "src/dmitigr/web"]
    path = src/dmitigr/web
    url = ../cpp-lib-web.git
[submodule "src/dmitigr/wscl"]
    path = src/dmitigr/wscl
    url = ../cpp-lib-wscl.git
[submodule "src/dmitigr/ws"]
    path = src/dmitigr/ws
    url = ../cpp-lib-ws.git
[submodule "src/dmitigr/3rdparty/portable_endian"]
    path = src/dmitigr/3rdparty/portable_endian
    url = ../cpp-3rd-portable_endian.git
[submodule "src/dmitigr/3rdparty/rapidjson"]
    path = src/dmitigr/3rdparty/rapidjson
    url = ../cpp-3rd-rapidjson.git
[submodule "src/dmitigr/3rdparty/usockets"]
    path = src/dmitigr/3rdparty/usockets
    url = ../cpp-3rd-usockets.git
[submodule "src/dmitigr/3rdparty/uwebsockets"]
    path = src/dmitigr/3rdparty/uwebsockets
    url = ../cpp-3rd-uwebsockets.git
[submodule "src/dmitigr/3rdparty/uwsc"]
    path = src/dmitigr/3rdparty/uwsc
    url = ../cpp-3rd-uwsc.git
[submodule "src/dmitigr/gpio"]
    path = src/dmitigr/gpio
    url = ../cpp-lib-gpio.git
[submodule "src/dmitigr/cpp-lib-chrx"]
    path = src/dmitigr/chrx
    url = ../cpp-lib-chrx.git
[submodule "src/dmitigr/wincom"]
    path = src/dmitigr/wincom
    url = ../cpp-lib-wincom.git
[submodule "src/dmitigr/winole"]
    path = src/dmitigr/winole
    url = ../cpp-lib-winole.git
[submodule "src/dmitigr/winbase"]
    path = src/dmitigr/winbase
    url = ../cpp-lib-winbase.git
[submodule "src/dmitigr/nix"]
    path = src/dmitigr/nix
    url = ../cpp-lib-nix.git
[submodule "src/dmitigr/mac"]
    path = src/dmitigr/mac
    url = ../cpp-lib-mac.git
